.main-container {
  position: static;
  padding: 0;
}
.page-container {
  position: relative;
}
.navbar.navbar-fixed-top+.main-container {
  margin-top: 45px;
}

/* ========================================================================
   component: navigation;
 ========================================================================== */
.navbar.navbar-fixed-top {
  z-index : 1003;
}
.navbar {
  padding    : 0;
  margin     : 0;
  border     : none;
  height     : 45px;
  min-height : 45px;
  z-index    : 200;
}
.navbar-inner {
  border                  : 0;
  -webkit-border-radius   : 0;
  -webkit-background-clip : padding-box;
  -moz-border-radius      : 0;
  -moz-background-clip    : padding;
  border-radius           : 0;
  background-clip         : padding-box;
  margin                  : 0;
  padding-left            : 0;
  padding-right           : 0;
  min-height              : 45px;
  position                : relative;
  background              : #4186d3;
}
.navbar-container {
  padding-left: 10px;
}
.navbar-account {
  height: 45px;
}
.navbar-brand {
  color               : #fff;
  font-size           : 24px;
  -webkit-text-shadow : none;
  text-shadow         : none;
  padding             : 2px 0 2px 0;
  font-weight         : 200;
  height              : 45px;
}
.navbar-brand small {
  line-height : 2;
}
.account-area {
  position        : absolute;
  top             : 0;
  right           : 50px;
  zoom            : 1;
  filter          : alpha(opacity=100);
  -webkit-opacity : 1;
  -moz-opacity    : 1;
  opacity         : 1;
  list-style      : none;
  margin-bottom   : 0;
  display         : inline-block;
}
.account-area > li {
  float    : left;
  position : relative;
  height   : 45px;
}
.account-area > li > a {
  position  : relative;
  min-width : 50px;
  height    : 45px;
  display   : inline-block;
}
.account-area > li > a > .badge {
  position           : absolute;
  top                : 6px;
  left               : 4px;
  padding            : 2px;
  cursor             : pointer;
  background-color   : transparent!important;
  border             : 1px solid #fff;
  width              : 18px;
  height             : 18px;
  box-shadow         : 1px 1px 0 #0072c6;
  -webkit-transition : top .3s ease;
  -moz-transition    : top .3s ease;
  -o-transition      : top .3s ease;
  transition         : top .3s ease;
}
.icon {
  display            : block;
  color              : #fff;
  font-size          : 16px;
  line-height        : 48px;
  text-align         : center;
  -webkit-transition : line-height .3s ease;
  -moz-transition    : line-height .3s ease;
  -o-transition      : line-height .3s ease;
  transition         : line-height .3s ease;
}

.login-area {
  padding: 8px 20px 10px 20px;
  height: 45px;
  opacity: 1;
  position: relative;
  cursor: pointer;
}
  .avatar img {
    border-left : 2px solid #fb6e52;
    width       : 29px;
    height      : 29px;
  }
  .profile {
    width       : auto;
    display     : inline-block;
    overflow    : hidden;
    line-height : 10px;
    color       : #ffffff;
    font-weight : 400;
    font-size   : 14px;
    margin-left : 10px;
  }
/* ========================================================================
   component: navigation - dropdown;
 ========================================================================== */
.account-area>li .dropdown-menu {
  padding                    : 0;
  min-width                  : 240px;
  -webkit-animation-name     : dropdownSlideInDown;
  -moz-animation-name        : dropdownSlideInDown;
  -o-animation-name          : dropdownSlideInDown;
  animation-name             : dropdownSlideInDown;
  -webkit-animation-duration : .3s;
  -moz-animation-duration    : .3s;
  -o-animation-duration      : .3s;
  animation-duration         : .3s;
  -webkit-border-radius      : 0!important;
  -webkit-background-clip    : padding-box!important;
  -moz-border-radius         : 0!important;
  -moz-background-clip       : padding!important;
  border-radius              : 0!important;
  background-clip            : padding-box!important;
}
.account-area .login-area+.dropdown-menu {
  width     : 100%;
  min-width : 100px;
}
.dropdown-menu > li {
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
  padding: 0 8px;
}
.dropdown-menu li a {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  padding: 10px 2px;
}
.dropdown-menu > .email {
  color      : #d0d0d0;
  text-align : center;
  font-size  : 12px;
}
.dropdown-menu > .dropdown-footer {
  border-top    : 3px solid #0072c6;
  min-height    : 35px;
  border-bottom : 0;
}
.dropdown-menu.dropdown-login-area>li.dropdown-footer a {
  color         : #999;
  display       : inline-block;
  clear         : none;
  font-size     : 13px;
  padding       : 10px;
}
.dropdown-menu > li > .avatar-area {
  position: relative;
  text-align: center;
  margin: 10px auto;
  width: 128px;
}
.avatar-area .avatar {
  width: 128px;
  height: 128px;
}
.avatar-area .caption {
  background-color : #0072c6;
  zoom             : 1;
  filter           : alpha(opacity=70);
  -webkit-opacity  : .7;
  -moz-opacity     : .7;
  opacity          : .7;
  bottom           : 0;
  left             : 0;
  color            : #fff;
  font-size        : 10px;
  line-height      : 9px;
  position         : absolute;
  padding          : 7px 0;
  text-align       : center;
  width            : 128px;
  cursor           : pointer;
}
/* ========================================================================
   component: navigation - selected menu ( open );
 ========================================================================== */
.account-area>li.open>a {
  background-color   : #0072c6;
  -webkit-box-shadow : 0 2px 40px rgba(0,0,0,.4);
  -moz-box-shadow    : 0 2px 40px rgba(0,0,0,.4);
  box-shadow         : 0 2px 40px rgba(0,0,0,.4);
}
.account-area>li.open .dropdown-menu {
  margin-top: 0;
  right: 0;
  border: 0!important;
}
.dropdown-arrow:before {
  content: '';
  display: inline-block;
  right: 0;
  position: absolute;
  width: 50px;
  background-color: #fff;
  border: 0;
  top: -46px;
  height: 3px;
  -webkit-box-shadow: 0 2px 40px rgba(0,0,0,.4);
  -moz-box-shadow: 0 2px 40px rgba(0,0,0,.4);
  box-shadow: 0 2px 40px rgba(0,0,0,.4);
}
.account-area .login-area+.dropdown-arrow:before {
  width: 100%;
}
/* ========================================================================
   component: sidebar;
 ========================================================================== */
.page-sidebar {
  position : absolute;
  top      : 0;
  bottom   : 0;
  width    : 224px;
  display  : block;
}
.page-sidebar:before {
  content: "";
  position: fixed;
  display: block;
  width: 219px;
  bottom: 0;
  top: 0;
  left: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  z-index: 1;
}
.sidebar-fixed {
  position : fixed;
  top      : 45px;
  float    : none!important;
  z-index  : 1000;
}
.sidebar-fixed:before {
  height : 5000px;
  top    : 45px;
  bottom : auto;
}
.sidebar-header-wrapper {
  margin-left: 5px;
  height: 40px;
  margin-bottom: 0;
  position: relative;
}
.sidebar-header-wrapper .searchinput {
  height: 41px;
  z-index: 2;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #fff;
  padding-left: 40px;
  width: 100%;
}
.searchinput:focus {
  -webkit-box-shadow : none;
  -moz-box-shadow    : none;
  box-shadow         : none;
  border-color       : #fff;
  color              : #262626;
  background-color   : #ffffff;
  outline            : 0;
}
.searchinput:focus~.searchhelper {
  display: block;
  z-index: 124;
}
.searchicon {
  cursor   : pointer;
  display  : inline-block;
  height   : 12px;
  left     : 20px;
  position : absolute;
  top      : 14px;
  width    : 12px;
  color    : #0072c6;
  z-index  : 124;
}
.searchhelper {
  -webkit-box-shadow: 0 10px 40px rgba(0,0,0,.4);
  -moz-box-shadow: 0 10px 40px rgba(0,0,0,.4);
  box-shadow: 0 10px 40px rgba(0,0,0,.4);
  background-color: #fff;
  color: #999;
  display: none;
  opacity: 1;
  padding: 10px;
  position: absolute;
  right: 0;
  left: 0;
  top: 40px;
  z-index: 4;
}
/* ========================================================================
   component: sidebar - menu;
 ========================================================================== */
.page-sidebar .sidebar-menu a {
  display             : block;
  height              : 38px;
  line-height         : 36px;
  margin              : 0;
  padding             : 0 16px 0 7px;
  -webkit-text-shadow : none!important;
  text-shadow         : none!important;
  font-size           : 13px;
  text-decoration     : none;
  color               : #737373;
  z-index             : 123;
}
.sidebar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 5px;
}
.sidebar-menu li {
  display  : block;
  padding  : 0;
  margin   : 0;
  border   : 0;
  position : relative;
}
.page-sidebar .sidebar-menu>li>a {
  border-top : 1px solid #f3f3f3;
}
.page-sidebar .sidebar-menu>li>a:hover {
  border-color     : #f3f3f3;
  background-color : #fbfbfb;
}
.sidebar-menu li.active>a {
  display: block;
  content: "";
  color: #262626;
  background-color: #f5f5f5;
}
.sidebar-menu li.active:not(.open):before {
  display: block;
}
.page-sidebar .sidebar-menu li:before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -4px;
  width: 4px;
  max-width: 4px;
  overflow: hidden;
  background-color: #0072c6;
}
.page-sidebar .sidebar-menu li:not(.open):hover:before {
  display          : block;
  background-color : #fb6e52;
}

.sidebar-menu a .menu-icon {
  display        : inline-block;
  vertical-align : middle;
  min-width      : 30px;
  text-align     : center;
  font-size      : 14px;
  font-weight    : normal;
  font-style     : normal;
  margin-top     : -3px;
}
.page-sidebar .sidebar-menu a .menu-expand {
  display: inline-block;
  position: absolute;
  font-size: 13px;
  line-height: 10px;
  height: 10px;
  width: 10px;
  right: 12px;
  top: 15px;
  margin: 0;
  text-align: center;
  padding: 0;
  -webkit-text-shadow: none;
  text-shadow: none;
  color: #666;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
}
.page-sidebar .sidebar-menu a .menu-expand:before {
  content: "ï„…";
}
.page-sidebar .sidebar-menu li.open>a .menu-expand {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* ========================================================================
   component: sidebar - menu with menu;
 ========================================================================== */
.page-sidebar .sidebar-menu>li.open>a {
  background-color: #fff;
}
.page-sidebar .sidebar-menu li.open>a {
  color: #262626;
}
.page-sidebar .sidebar-menu .submenu>li .submenu {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.page-sidebar .sidebar-menu li.open>.submenu {
display: block!important;
}
.page-sidebar .sidebar-menu>li>.submenu {
  background-color: #fbfbfb;
  -webkit-box-shadow: inset 0 4px 4px -2px rgba(0,0,0,.15),inset 0 -4px 4px -2px rgba(0,0,0,.15);
  -moz-box-shadow: inset 0 4px 4px -2px rgba(0,0,0,.15),inset 0 -4px 4px -2px rgba(0,0,0,.15);
  box-shadow: inset 0 4px 4px -2px rgba(0,0,0,.15),inset 0 -4px 4px -2px rgba(0,0,0,.15);
}
.page-sidebar .sidebar-menu .submenu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fbfbfb;
  border-top: 0;
  z-index: 123;
}
.page-sidebar .sidebar-menu>li>.submenu:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 23px;
  top: 0;
  bottom: 19px;
  border-left: 1px solid #e2e2e2;
}
.page-sidebar .sidebar-menu .submenu li {
  margin-left: 0;
  position: relative;
}
.page-sidebar .sidebar-menu .submenu>li>a {
  padding-left: 40px;
}
.page-sidebar .sidebar-menu>li>.submenu>li>a:before {
  content          : "";
  display          : inline-block;
  position         : absolute;
  width            : 5px;
  height           : 5px;
  left             : 21px;
  top              : 17px;
  background-color : #fff;
  border           : 1px solid #e2e2e2;
  z-index          : 2;
}
.page-sidebar .sidebar-menu>li>.submenu>li.active>a:before {
  background-color: #e2e2e2;
}

/* ========================================================================
   component: breadcrumbs
 ========================================================================== */
.page-breadcrumbs.breadcrumbs-fixed {
  position: fixed;
  right: 0;
  left: 224px;
  top: 45px;
  z-index: 999;
}
.page-breadcrumbs {
  position: relative;
  background: #f3f3f3;
  min-height: 40px;
  line-height: 39px;
  padding: 0;
  display: block;
  z-index: 1;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}
.breadcrumb {
  background-color: transparent;
  display: inline-block;
  line-height: 24px;
  margin: 0 22px 0 12px;
  padding: 0;
  font-size: 13px;
  color: #333;
  border-radius: 0;
}
.breadcrumb>li, .breadcrumb>li.active {
  color               : #777;
  -webkit-text-shadow : none;
  text-shadow         : none;
}
.breadcrumb>li+li:before {
  color: #999;
}
 /* ========================================================================
   component: inputs
 ========================================================================== */
input[type=checkbox].checkbox-slider {
  width: 55px;
  height: 25px;
  left: 0;
}
input[type=checkbox], input[type=radio] {
  opacity: 0;
  position: absolute;
  left: -9999px;
  z-index: 12;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
