<div class="col-xs-12">
    <div class="widget">
        <div class="widget-header bordered-bottom bordered-themesecondary">
            <i class="widget-icon typcn typcn-contacts themesecondary"></i>
            <span class="widget-caption themesecondary">Add Payroll</span>
            <div class="widget-buttons">
                <a href="" data-toggle="dispose" ng-click="hideContent()">
                    <i class="fa fa-times themesecondary"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-workspace">
                <form class="form-group row" method="POST" accept-charset="UTF-8">
                    <input name="_token" type="hidden" value="{{csrf_token}}">
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-12 col-sm-2 col-lg-4 no-padding">
                            <div class="form-group">
                                <label for="inputEmail3" class="hidden-xs col-sm-12 control-label no-padding-right text-left">
                                    <span>Employee</span>
                                </label>
                                <div class="col-sm-12 no-padding-right">
                                    <span class="no-padding block" data-toggle="tooltip" data-placement="top-right" data-original-title="{{requestResult.errors.emp_id[0]}}" field='emp_id' tooltip-show>
                                        <select select-picker class="form-control show-tick show-menu-arrow" data-width="100%" name='emp_id' ng-model="employee.emp_id" ng-change="getEmployeeRecord(employee.id)">
                                            <option value="" disabled>-- select --</option>
                                            <option ng-repeat="employee in employees" value="{{employee.id}}">{{employee.firstname}} {{employee.lastname}}</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-2 no-padding">
                            <div class="form-group">
                                <label for="salaryrate" class="hidden-xs col-sm-12 control-label no-padding-right text-left">
                                    <span>Salary Rate</span>
                                </label>
                                <div class="col-sm-12">
                                    <span class="input-group date input-icon icon-right" data-toggle="tooltip" data-placement="top-right" data-original-title="{{requestResult.errors.salaryrate[0]}}" field="salaryrate" tooltip-show>
                                        <input type="text" class="form-control" name="salaryrate" placeholder="0.00" value="{{salaryRate}}" readonly>
                                        <i class="fa fa-money"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-4 no-padding">
                            <div class="form-group">
                                <label for="paystart" class="hidden-xs col-sm-12 control-label no-padding-right text-left">
                                    <span>Days Of Worked</span>
                                </label>
                                <div class="col-sm-12">
                                    <div class="input-daterange" id="payperiod" data-toggle="tooltip" data-placement="top-right" data-original-title="{{requestResult.errors.dateWorked[0]}}" field="DaysOfWorked" tooltip-show date-picker>
                                        <div class="input-group">
                                            <input ng-model="dateWorked.start" type="text" class="input-small form-control" name="paystart" placeholder="{{toDate}}" />
                                            <span class="input-group-addon">to</span>
                                            <input ng-model="dateWorked.end" type="text" class="input-small form-control" name="payend" placeholder="{{toDate}}" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-2 no-padding">
                            <div class="form-group">
                                <label for="inputEmail3" class="hidden-xs col-sm-12 control-label no-padding-right text-left">
                                    <span>Gross Pay</span>
                                </label>
                                <div class="col-sm-12">
                                    <span class="input-group date input-icon icon-right" data-toggle="tooltip" data-placement="top-right" data-original-title="{{requestResult.errors.grosspay[0]}}" field="grosspay" tooltip-show>
                                        <input type="text" class="form-control" id="grosspay" placeholder="0.00" name="grosspay"  ng-model="employee.grosspay">
                                        <i class="fa fa-money"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding margin-top-20">
                        <div class="col-xs-12 col-sm-6 col-lg-2 no-padding">
                            <div class="form-group">
                                <label for="homeAddress" class="hidden-xs col-sm-12 control-label no-padding-right text-left">
                                    <span>SSS Contribution</span>
                                </label>
                                <div class="col-sm-12 no-padding-right">
                                    <span class="input-icon icon-right" data-toggle="tooltip" data-placement="top-right" data-original-title="{{requestResult.errors.SSSContribution[0]}}" field='SSSContribution' tooltip-show>
                                        <input type="text" class="form-control" placeholder="0.00" name='SSSContribution' ng-model="employee.SSSContribution">
                                        <i class="fa fa-money"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-2 no-padding">
                            <div class="form-group">
                                <label for="homeAddress" class="hidden-xs col-sm-12 control-label no-padding-right text-left">
                                    <span>Pag-ibig Contribution</span>
                                </label>
                                <div class="col-sm-12 no-padding-right">
                                    <span class="input-icon icon-right" data-toggle="tooltip" data-placement="top-right" data-original-title="{{requestResult.errors.SSSContribution[0]}}" field='SSSContribution' tooltip-show>
                                        <input type="text" class="form-control" placeholder="0.00" name='SSSContribution' ng-model="employee.SSSContribution">
                                        <i class="fa fa-money"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-2 no-padding">
                            <div class="form-group">
                                <label for="homeAddress" class="hidden-xs col-sm-12 control-label no-padding-right text-left">
                                    <span>PhilHealth Contribution</span>
                                </label>
                                <div class="col-sm-12 no-padding-right">
                                    <span class="input-icon icon-right" data-toggle="tooltip" data-placement="top-right" data-original-title="{{requestResult.errors.SSSContribution[0]}}" field='SSSContribution' tooltip-show>
                                        <input type="text" class="form-control" placeholder="0.00" name='SSSContribution' ng-model="employee.SSSContribution">
                                        <i class="fa fa-money"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-2 no-padding">
                            <div class="form-group">
                                <label for="homeAddress" class="hidden-xs col-sm-12 control-label no-padding-right text-left">
                                    <span>Cash Advances</span>
                                </label>
                                <div class="col-sm-12 no-padding-right">
                                    <span class="input-icon icon-right" data-toggle="tooltip" data-placement="top-right" data-original-title="{{requestResult.errors.SSSContribution[0]}}" field='SSSContribution' tooltip-show>
                                        <input type="text" class="form-control" placeholder="0.00" name='SSSContribution' ng-model="employee.SSSContribution">
                                        <i class="fa fa-money"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-2 no-padding">
                            <div class="form-group">
                                <label for="homeAddress" class="hidden-xs col-sm-12 control-label no-padding-right text-left">
                                    <span>Others</span>
                                </label>
                                <div class="col-sm-12 no-padding-right">
                                    <span class="input-icon icon-right" data-toggle="tooltip" data-placement="top-right" data-original-title="{{requestResult.errors.SSSContribution[0]}}" field='SSSContribution' tooltip-show>
                                        <input type="text" class="form-control" placeholder="0.00" name='SSSContribution' ng-model="employee.SSSContribution">
                                        <i class="fa fa-money"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-2 no-padding">
                            <div class="form-group">
                                <label for="homeAddress" class="hidden-xs col-sm-12 control-label no-padding-right text-left">
                                    <span>Total Deduction</span>
                                </label>
                                <div class="col-sm-11 no-padding-right">
                                    <span class="input-icon icon-right" data-toggle="tooltip" data-placement="top-right" data-original-title="{{requestResult.errors.SSSContribution[0]}}" field='SSSContribution' tooltip-show>
                                        <input type="text" class="form-control" placeholder="0.00" name='SSSContribution' ng-model="employee.SSSContribution">
                                        <i class="fa fa-money"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding margin-top-20">
                        <div class="col-xs-12 col-sm-6 col-lg-10 no-padding">
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <hr class="wide"></hr>
                    </div>
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-12 col-sm-6 col-lg-6 no-padding">
                            <label for="homeAddress" class="hidden-xs col-sm-2 control-label text-center">
                                <span>Net Pay</span>
                            </label>
                            <div class="col-sm-7 no-padding-right">
                                <span class="input-icon icon-right" data-toggle="tooltip" data-placement="top-right" data-original-title="" field="SSSContribution" tooltip-show="">
                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="0.00" name="SSSContribution" ng-model="employee.SSSContribution">
                                    <i class="fa fa-money"></i>
                                </span>
                            </div>
                        </div>
                        <div class="buttons-preview pull-right">
                            <button class="btn btn-default shiny border-white btn-default-width" ng-click="resetContent( )">Reset</button>
                            <button class="btn btn-blue shiny border-white btn-default-width" ng-click="createEmployee(employee)">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>