<div class="col-xs-12">
    <div class="widget">
        <div class="widget-header bordered-bottom bordered-themesecondary">
            <i class="widget-icon typcn typcn-contacts themesecondary"></i>
            <span class="widget-caption themesecondary">Add Salary</span>
            <div class="widget-buttons">
                <a href="" data-toggle="dispose" ng-click="hideContent()">
                    <i class="fa fa-times themesecondary"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-workspace">
                <form class="form-group row" method="POST" accept-charset="UTF-8">
                    <input name="_token" type="hidden" value="{{csrf_token}}">
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-12 col-sm-2 col-lg-7 no-padding">
                            <div class="form-group">
                                <label for="inputEmail3" class="hidden-xs col-sm-12 control-label no-padding-right text-left">
                                    <span>Employee</span>
                                </label>
                                <div class="col-sm-12 no-padding-right">
                                    <span class="no-padding block" data-toggle="tooltip" data-placement="top-right" data-original-title="{{requestResult.errors.emp_id[0]}}" field='emp_id' tooltip-show>
                                        <select select-picker class="form-control show-tick show-menu-arrow" data-width="100%" name='emp_id' ng-model="employee.emp_id">
                                            <option value="" disabled>-- select --</option>
                                            <option ng-repeat="employee in employees" value="{{employee.id}}">{{employee.firstname}} {{employee.lastname}}</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-2 no-padding">
                            <div class="form-group">
                                <label for="amount" class="hidden-xs col-sm-12 control-label no-padding-right text-left">
                                    <span>Salary Rate</span>
                                </label>
                                <div class="col-sm-12 no-padding-right">
                                    <span class="input-icon icon-right" data-toggle="tooltip" data-placement="top-right" data-original-title="{{requestResult.errors.amount[0]}}" field='amount' tooltip-show>
                                        <input type="text" class="form-control" placeholder="PHP 0.00" name='amount' ng-model="employee.amount">
                                        <i class="fa fa-money"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="amount" class="hidden-xs col-sm-12 control-label no-padding-right text-left">
                                    <span>&nbsp;</span>
                                </label>
                                <div class="buttons-preview pull-right">
                                    <button class="btn btn-default shiny border-white btn-width-135" ng-click="resetContent( )">Reset</button>
                                    <button class="btn btn-blue shiny border-white btn-width-135" ng-click="addSalary(employee)">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
